:root{
    --primary-900: #E06C00;
    --primary-800: #E79B54;
    --primary-700: #E7B98E;

    --neutral-900: #444444;
    --neutral-800: #F4F4F4;
    --neutral-700: #FFFFFF;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: var(--neutral-900);
}

body{
    width: 300px;
    height: 500px;
    background-color: var(--neutral-700);
    padding: 16px;
    font-weight: bold;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    gap: 16px;
}


.top{
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.site{
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: var(--neutral-800);
    padding: 16px;
    align-items: center;
    justify-content: space-between;
}
.site-details{
    display: flex;
    align-items: center;
    gap: 8px;
}
.site-logo{
    width: 16px;
    height: 16px;
}
.site-trash{
    width: 16px;
    height: 16px;
}


.bottom{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--neutral-800);
    border-radius: 8px;
    padding: 0px 16px;
    gap: 8px;
}

.add-input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-weight: bold;
}
.add-input:focus{
    outline: none;
}
.add-input::placeholder{
    color: #444444;
}
.arrow-right{
    width: 16px;
    height: 16px;
}